/* #web_bg{
    background-image: linear-gradient(-225deg, #4b63db 0%, #362689 48%, #191676 100%);
} */

#recent-posts > .recent-post-item{
    opacity: 0.66 !important;
}
.cardHover, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    background: #fff9e7;
}